body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
}
h2{
  padding: 9rem 14rem 3rem 14rem;
  text-align: center;
  color: #fff;
  font-size: 3rem;
}
#title{
  background-color: #ff4c68;
  color: #fff;
}
.mainn{
  padding-bottom: 4rem;
  text-align: left;
}
.heading{
  font-size: 3.5rem;
  line-height: 1.5;
}
.ad-heading{
  font-size: 3rem;
}
p{
  color: #8f8f8f;
}
.container-fluid{
  padding: 3% 15%;
}
/* Navagation Bar */
.navbar{
  padding: 0 0 4.5rem 0;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-weight: "Montserrat-Light";
}
/* Download Buttons */
.Download-Button{
  margin: 5% 3% 5% 0;
}
/* Title Image */
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
/* Features Section */
#features{
  padding: 7% 15%;
  position: relative;
  background-color: #fff;

}
img{
  vertical-align: middle;
  border-style: none;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.feature-title{
  font-size: 1.5rem;
}
.icon{
  color: #ef8172;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
/* Testimonials Section */
#testimonials{
  background-color: #ef8172;
}
.testimonial-name{
  color: #fff;
}
.testimonial-item{
  text-align: center;
  padding-bottom: 5rem;
}
.testimonial-image{
  border-radius: 100%;
  height: 100px;
  width: 100px;
}
.testimonial-name{
  padding-left: 1rem;
}
/* Pricing-Section */
#pricing{
  padding: 6rem;
}
.ad-title{
  text-align: center;
  font-family: "Montserrat-Bold";
}
.ad-heading{
  color: #000;
  padding: 1rem 0 0 0;
}
.ad-product-item{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.ad-item-price{
  color: #000;
  padding: 0 0 0 0;
  text-align: center;
}
/* Press Section */
#press{
  background-color: #ef8172;
  padding: 0 9rem 4rem 9rem;
  text-align: center;
}
.press-brand{
  width: 75%;
  padding: 4rem 0;
}
.para-pricing{
  font-size: 1.3rem;
  padding: 0 0 1.5rem 0;
}
.button-free{
  padding: .5rem 8rem ;
}
.ad-item-price{
  padding: 1rem 1rem;
}
.ad-product-item{
  padding: 0.5rem;
}
.pricing-name{
  background-color: #EEEEEE;
  padding: 1rem 0;
  border: solid;
}
/* Call To Action */
#cta{
  background-color: #ff4c68;
  text-align: center;
}
.cta-heading{
  color: #fff;
  padding: 6.5rem 0 3rem 0;
  font-size: 3.5rem;
}
.download-button{
  padding-bottom: 8rem;
}
.download-button-mac{
  margin: 1rem 1rem 3rem 0;
}
.download-button-windows{
  margin: 1rem 0 3rem 1rem;
}
/* Footer Section */
#footer{
  text-align: center;
  padding: 6rem;
}
.social-icon{
  padding: 1rem;
}
@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0deg);
    padding: 0 0 0 0;
  }
  .mainn{
    text-align: center;
  }
}
